#login{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: white;
	text-align: center;
}

#logo {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 10px;
}

#login>input[type=text]{
	position: relative;
	display: inline-block;
	margin:auto;
	text-align: center;
	width: 200px;
	height: 30px;
	top: calc(50vh - 30px);
	border: inset;
}

#submit {
	position: absolute;
	left: calc(50vw - 50px);
	top: 55vh;
	text-align: center;
	width: 100px;
	border: outset;
	background-color: white;
	color: gray;
}

#wrapper{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	
}
	
#searchBar {
	border: inset;
	position: absolute;
	left: 5px;
	top: 5px;
	padding: 5px;
}

li {
	list-style-type: none;
	padding-top: 10px;
}

.radio_no_D {
	background: red !important;
	width: 13px;
	height: 13px;
	display: inline-block;
}

.radio_no {
	margin: 0px;
}

.radio_nu_D {
	background: gray !important;
	width: 13px;
	height: 13px;
	display: inline-block;
}

.radio_nu {
	margin: 0px;
}

.radio_yes_D {
	background: green !important;
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 5px;
}

.radio_yes {
	margin: 0px;
}

.flag_input {
	width: 50px;
	margin-right: 5px;
}